<article class="post">
    <div class="title">
        <p>{{createdAt}}</p>
        <h4>{{title}}</h4>
        <p>{{post_text}}</p>
        <p>Author: {{user.username}}</p>
        <a href="/post/{{id}}">{{comments.length}} Comments</a>
    </div>
</article>